/* @theme my-theme */

@import 'default';

/* ==== GENERAL PRESETS ====*/

:root {
    width: 1897px;
    height: 1069px;
    padding: 0;
    margin: 0;
    font-family: "Yantramanav";
    box-sizing: border-box;
    background-color: #EDEDED;
  }

body {
    display: block;
    margin: 0;
    
}   

h1 {
    font-size: 60px;
    font-weight: 300;
    padding: 0;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 0;
}

h3{
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 0;
}

p {
    font-size: 22px;
    font-weight: 400;
    padding-left: 0px;
    letter-spacing: -0.5px;
    color: #000000;
    line-height: 30px;
    margin-bottom: 25px
}

ol, ul{
    font-family: "Yantramanav";
    font-weight: 400;
    padding:0;
    display: flex;
    flex-direction: column;
}

ol{
    margin: 8px 34px 0 54px; 
}

ul{
    list-style: none;
    padding-left: 16px;
}

/* wraps tha nav and content */
.flex-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 172px;
    height:100%;

}

/* wraps the main text bit and the placeholder */
.content__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height:100%;
    width: 100%;
}

/* ===== COMMON ===== */

/* header with logo */
.header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top : 0;
    left: 0;
    right: 0;
   padding: 40px 34px 0 67px;
}
.logo{
    padding:0;
    height: 75px;
    width: 62px;
    margin-right: 79px;
}
.header__timeline{
    margin: 0;
    width: 1655px;;
}

/* footer */
.footer{
    position: fixed;
    bottom : 0;
    left: 0;
    right: 0;
    width: 1830px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px 17px 34px;

   
}
.footer__text{
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    color: #ACAFA8;
    
}

/* menu styling */
.menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px 0px 0 10px;
    max-width: 250px;
}
.menu ol {
    min-width: 190px;
}
.menu li{
    padding: 0;
    margin-top: 8px;
    font-size: 16px;
    max-width: 180px;
}

/* main content: header and text */
.main {
margin-right: 12px;
}

/* text block */
.content__info{
    width: 470px;
}



/* handling the placeholder and text width*/
.bg-placeholder{
    margin: 0 35px 34px 28px;
    background-color: #4DBF3B;
    height: 828px;
}

section.wide .bg-placeholder {

    width: 1095px;

}
section.wide p {
    max-width: 470px;
}

section.medium .bg-placeholder{
    width: 950px;
}
section.medium p {
    max-width: 530px;
}

section.small .bg-placeholder{
    width: 305px;
}
section.small p {
    max-width: 530px;
}

section.narrow .bg-placeholder{
    width: 567px;
}

section.narrow p {
    max-width: 530px;
}

section.average .bg-placeholder{
    width: 785px;
}
section.average p {
    max-width: 710px;
}

/* the arrow in the nav */

section .menu img{
    height: 11px;
    margin-left: 6px;
}

/* switch to column layout */
section.layout-column .content__wrapper{
    max-width: 1480px;
    flex-direction: column;
    justify-content: flex-start;
}

section.image-center .content__wrapper img{
    position: relative;
    height: 738px;
    width: 1290px;
    margin: 0 auto;
}
section.image-center p{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

section.image-center .content__wrapper{
   align-items: normal;
}

section.set-image-margin .content__wrapper .image__container {
    padding: 150px 0;
}

/* trying the automatic nav arrow just for the main ones now */
section.selected-0 .menu ol li:nth-child(1)::after,
section.selected-1 .menu ol li:nth-child(2)::after,
section.selected-2 .menu ol li:nth-child(3)::after,
section.selected-3 .menu ol li:nth-child(4)::after,
section.selected-4 .menu ol li:nth-child(5)::after,
section.selected-5 .menu ol li:nth-child(6)::after,
section.selected-6 .menu ol li:nth-child(7)::after,
section.selected-7 .menu ol li:nth-child(8)::after,
section.selected-8 .menu ol li:nth-child(9)::after,
section.selected-9 .menu ol li:nth-child(10)::after,
section.selected-10 .menu ol li:nth-child(11)::after,
section.selected-11 .menu ol li:nth-child(12)::after,
section.selected-12 .menu ol li:nth-child(13)::after,
section.selected-13 .menu ol li:nth-child(14)::after,
section.selected-14 .menu ol li:nth-child(15)::after,
section.selected-15 .menu ol li:nth-child(16)::after

{
    content: url('./assets/selected_arrow.svg');
    margin-left: 4px;
    height: 11px;
    line-height: 11px;
    vertical-align: middle;

  }


section.inner-sel-1 .menu ul li:nth-child(1),
section.inner-sel-2 .menu ul li:nth-child(2),
section.inner-sel-3 .menu ul li:nth-child(3)
{
    text-decoration: underline #FFD200;
}